{
	"extends": [
		"eslint:recommended",
		"plugin:compat/recommended",
		"plugin:unicorn/recommended",
		"plugin:promise/recommended",
		"plugin:sonarjs/recommended",
		"plugin:array-func/recommended",
		"plugin:import/errors",
		"prettier",
		"prettier/unicorn"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"unicorn",
		"promise",
		"sonarjs",
		"optimize-regex",
		"array-func",
		"import",
		"compat"
	],
	"rules": {
		"no-console": "off",
		"no-duplicate-case": "warn",
		"no-lonely-if": "warn",
		"unicorn/filename-case": "off",
		"unicorn/prevent-abbreviations": "off",
		"unicorn/prefer-query-selector": "off",
		"unicorn/prefer-add-event-listener": "off",
		"optimize-regex/optimize-regex": "warn",
		"sonarjs/cognitive-complexity": ["error", 25],
		"compat/compat": "error",
		"promise/always-return": "off",
		"promise/catch-or-return": "off"
	},
	"globals": {}
}
