{
	"extends":[
		"eslint:recommended"
	],
	"env":{
		"es6":true,
		"browser":true,
		"node":true
	},
	"parserOptions": {
		"ecmaVersion":8,
		"sourceType":"module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [],
	"rules":{
		"no-console":"off",
		"no-duplicate-case":"warn",
		"no-lonely-if":"warn"
	},
	"globals": {
        "React": true,
		"ReactDOM": false
    }
}