//variables
$border-width: 3px;
$font-size: 1em;
//styling classes
%fill-parent {
	display: inline-block;
}
%centered {
	text-align: center;
	vertical-align: middle;
}
//element styling
#root {
	display: flex;
}
#grid {
	border-style: solid;
	border-width: $border-width;
	border-color: black;
	float: left;
	margin-right: 15px;
}
#test-botnet {
	width: 90%;
	height: 40%;
}
#sidebar {
	flex-grow: 1;
}
#controls {
	margin-bottom: 10px;
}
